.box1 {
    width: auto;
    height: auto;
    background: #eaeaea;
    box-shadow: 0px 5px 10px gray;
    float: left;
    margin-right: 20px;
}
.box2 {
    width: auto;
    height: auto;
    background: #eaeaea;
    box-shadow: 0px 5px 10px gray;
    float: left;
    border-radius: 10px 10px 0px 0px;
}
img {
    width: 300px;
    height: 300px;
}
.box2 img {
    border-radius: 10px 10px 0px 0px;
}
h2 {
    margin: 20px;
}
p {
    margin: 20px;
}